<%= form_with(model: subgroup) do |form| %>
  <% if subgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subgroup.errors.count, "error") %> prohibited this subgroup from being saved:</h2>

      <ul>
        <% subgroup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :acronym %>
    <%= form.text_field :acronym %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
