<p id="notice"><%= notice %></p>

<h1>Subgrupos</h1>

<table>
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <% @subgroups.each do |subgroup| %>
    <tr>
      <td><%= subgroup.acronym %></td>
      <td><%= subgroup.description %></td>
      <td><%= link_to 'Detalhes', subgroup %></td>
      <td><%= link_to 'Editar', edit_subgroup_path(subgroup) %></td>
      <td><%= link_to 'Excluir', subgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>


  </tbody>
</table>

<br>

<%= link_to 'Novo Subgrupo', new_subgroup_path %>