<p id="notice"><%= notice %></p>

<p>
  <strong>Acronyms:</strong>
  <%= @subgroup.acronym %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subgroup.description %>
</p>

<%= link_to 'Edit', edit_subgroup_path(@subgroup) %> |
<%= link_to 'Back', subgroups_path %>
