<%= form_with(model: schooling) do |form| %>
  <% if schooling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schooling.errors.count, "error") %> prohibited this schooling from being saved:</h2>

      <ul>
        <% schooling.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
