<p id="notice"><%= notice %></p>

<p>
  <strong>Service time:</strong>
  <%= @framing.service_time %>
</p>

<p>
  <strong>Position:</strong>
  <%= @framing.position %>
</p>

<%= link_to 'Edit', edit_framing_path(@framing) %> |
<%= link_to 'Back', framings_path %>
